.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  min-height: 100vh;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.dropdown {
  display: inherit;
  align-self: self-start;
}
.selectColor {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0px;
  width: 160px;
  height: 40px;
}
.selectColor:focus {
  outline: none;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .total {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
  }
}
